<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AVALIAÇÃO FORMADORA I
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 15</ion-title>
    </ion-toolbar>
  </ion-header>
   <app-explore-container name="Teste proj"></app-explore-container>
</ion-content>



<ion-card>
  <img alt="" src="/assets/perfil.enc"/>
  <ion-card-header>
    <ion-card-title>Gabriel Silveira Bento</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>


  <ion-card-content>
    Data de nascimento: 03/02/2000 <p>

    </p>
    Curso: Analise e desenvovimento de sistema
    turma:ADS0303N
    <p></p>
    Idade: 24
  </ion-card-content>
</ion-card>


